[Desktop Entry]
Type=Application
Name=Qur'an
Icon=com.github.taaa1.quran
Exec=/app/quran/quran
Comment=Read the Qur'an
Categories=X-Islamic-Software;X-Quran;Education;